body {
  background-image: url("img-02.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
h1 {
  border: 2px solid black;
  margin: auto;  
  padding: 20px;
  text-align: center;
}
